DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=12345678
DB_NAME=ecom 
JWT_SECRET = secsdalaskldkasldkjlfkfjfiorirj
ACCESS_TOKEN_EXPIRE = 1h
REFRESH_TOKEN_EXPIRE = 7d
RESEND_API_KEY = re_f3seEEJ6_BnaP9tQ3AQKuZdqrs8Hep9Fx
REDIS_HOST=localhost
REDIS_PORT=6379